*{
    padding:0px;
    margin:0px;
}
body{
    background-color: #E2F1E7;
}
header{
    background-color:#629584;
    line-height:2.6;
}
a{
    text-decoration: none;
    padding: 15px 17px;
    font-size: larger;
}

li:hover{
    margin:0px;
    color:#E2F1E7; 
    background-color: aqua;     
}

a:link{
    color:white;
}
a:hover{
    color:black;
    background-color: #2970648a;
}
.a{
    padding: 0px 17px;
    float: right;
}
a:visited{
    color:none;
    
}







